@import url('https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

*/

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

body {
  line-height: 1.5;
  font-family: "Castoro", serif;
  font-size: 24px;
  font-weight: 400;

}

.container {
  width: 1296px;
  margin: 0 auto;
}

h1,
h2 {
  font-size: 128px;
  padding-right: 14px;
  letter-spacing: 12%;
}

h2 {
  width: calc(50% - 26px);
  margin-left: auto;
}

.introduction {
  background-color: rgb(239, 239, 239);

}

.introduction-text {
  width: calc(50% - 12px);
  padding: 48px 14px 48px 12px;
  font-size: 32px;
  line-height: 48px;
  margin-left: auto;
}

.w-50 {
  width: calc(50% - 12px);
}

h3 {
  color: rgb(174, 0, 0);
  border-bottom: 3px solid rgb(174, 0, 0);
  width: calc(50% - 12px);
  font-size: 40px;
  margin-bottom: 8px;
  margin-top: 40px;
}

.mt-160 {
  margin-top: 160px;
}

.mt-80 {
  margin-top: 80px;
}

span {
  font-style: italic;
  font-size: 20px;
  color: rgb(148, 148, 148);
}

ul li {
  width: calc(50% - 12px);
}

.personal-info li {
  margin-top: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-12 {
  margin-top: 12px;
}

.span {
  margin-top: 16px;
}

footer {
  background-color: black;
  margin-top: 164px;
}


.links-container {
  padding: 64px 0px;
  text-align: center;
}

.profile-links li,
.profile-links img {
  display: inline;
}

.mr-40 {
  margin-right: 40px;
}

.ml-40 {
  margin-left: 40px;
}